./DubaiMetro.xcodeproj/project.xcworkspace/xcuserdata/majid.xcuserdatad/UserInterfaceState.xcuserstate
UserInterfaceState.xcuserstate
build
*.pbxuser
*.perspectivev3
*.mode1v3
*~
*~.nib
*~.xib 
.DS_Store 
xcuserdata/
